<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/libs/layui/css/layui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!-- ejs语法 -->
  <%- include('head', {}); %>

    <!-- <title>Document</title> -->
</head>

<body>
  <div class="layui-container">
    <div class="layui-row">
      <form action="/users/signIn" method="POST">
        <div class=" layui-form-item">
        <h1>用户登录</h1>
        <div class=" layui-form-item"> <input type="text" name="userName" placeholder="请输入用户名" class="layui-input">
        </div>
        <div class=" layui-form-item"> <input type="password" name="password" placeholder="请输入密码" class="layui-input">
        </div>
        <div class=" layui-form-item"> <input type="submit" class="layui-btn" value="立即提交"> </div>

      </form>
 
          <div class="zhu">
            若无账号，请<a href="/zhuce">立即注册</a>
          </div>
        </div>
      
    </div>
  </div>
</body>

</html>