body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.layui-form-item{
  width: 400px;
 margin: 0 auto;
}
.layui-form-item h1{
  text-align: center;
}
.layui-btn{
  width: 100%;
  text-align: center;
}
.zhu{
  width: 100%;
  line-height: 50px;
  text-align: center;
}
.zhu a{
  color: cyan;
}

.layui-col-md9{
 width: 100%;
margin-left: 150px;
}
.w{
  width: 700px;
  padding-top: 20px;
}